.news__top {
}
.news__cards {
    position: relative;
    display: flex;
    gap: 20px;
}

.news__card {
    height: 508px;
    width: 50%;
    position: relative;
    padding: 15px 40px;
    background: #00063c;
    border-radius: 20px;
    display: flex;
    color: white;
    overflow: hidden;
    z-index: 2;
}
.news__card::before {
    z-index: 1;
    position: absolute;
    content: "";
    top: -240px;
    left: -100px;
    border-radius: 508px;
    background: #0638a6;
    filter: blur(162px);
    width: 508px;
    height: 508px;
}
.news__card-main {
    position: relative;
    z-index: 3;
    max-width: 340px;
}
.news__card-soon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 36.591px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.318px;
    border-radius: 7.955px;
    background: linear-gradient(
        135deg,
        rgba(43, 43, 43, 0.2) 0%,
        rgba(60, 60, 60, 0.4) 51.56%,
        rgba(0, 0, 0, 0.2) 100%
    );
    backdrop-filter: blur(11.136363983154297px);
}
.news__card-soon::before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/main/el.png);
}
.news__card-date {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    display: flex;
    padding: 9px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.news__card-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
}
.news__card-text {
    margin-top: 20px;
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}
.news__card-detail {
    transition: 0.5s;
    margin-top: 40px;
    color: var(--yeelow, #ffd600);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    text-decoration-line: underline;
    display: flex;
    gap: 10px;
    align-items: center;
}
.news__card-detail a {
    color: var(--yeelow, #ffd600);
}
.news__card-left {
}
.news__card-right {
    margin-top: 60px;
}
.absolute {
    position: absolute;
}
/* .news__card1 {
  background: url(../img/main/fone__card1.png);
}
.news__card2 {
  background: url(../img/main/phones.png);
} */
.news__fone {
    position: absolute;
    left: 1px;
    top: 0;
}
.news__card-detail:hover {
    gap: 20px;
}
.news__card-date {
    transition: 0.5s;
}
.news__card-date:hover {
    background: rgba(255, 255, 255, 0.35);
}
.news__items {
    margin-top: 15px;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 20px;
}
.news__item {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
}
.news__item-top img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.news__item-top {
    z-index: 1;
    position: relative;
}
.news__item-publication {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    border-radius: 0px 0px 15px 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    cursor: pointer;
    color: white;
    display: inline-flex;
    padding: 9px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.news__item-publication:hover {
    background: rgba(255, 255, 255, 0.3);
}
.news__item-main {
    padding: 20px;
}

.news__item-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.news__item-text {
    margin-top: 10px;
    color: #fff;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 21px */
}
.news__item-detail {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.news__item-detail:hover {
    gap: 20px;
}
.news__item-detail a {
    color: var(--yeelow, #ffd600);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-decoration-line: underline;
}

@media (max-width: 769px) {
    .news__card {
        height: auto;
    }
    .news__card-detail {
        padding-bottom: 20px;
    }
    .news__items {
        grid-template: 1fr / repeat(2, 1fr);
        grid-auto-flow: row;
    }
    .news__cards {
        flex-direction: column;
    }
    .news__card {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .news__items {
        grid-template: 1fr / repeat(1, 1fr);
        grid-auto-flow: row;
    }
}
.article {
}
.article__block {
    width: 100%;
    position: relative;
}
.article__block-fone {
    position: absolute;
    z-index: -1;
}
.article__banner {
    height: 100%;
    padding: 107px 60px;
}
.news__card-date {
}
.article__banner-title {
    margin-bottom: 20px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 96px */
}
.article__banner-txt {
    color: #fff;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
}
.article__banner-date {
    transition: 0.5s;
    margin-bottom: 20px;
    max-width: 260px;
    padding: 9px 24px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    gap: 10px;
    color: #ffffff50;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}
.article__banner-date:hover {
    background: rgba(255, 255, 255, 0.5);
}
.article__points {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.article__point {
}
.article__point-title {
    margin-bottom: 10px;
    color: #fff;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
}
.article__point-info {
    color: #ffffff70;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 32px */
}
.article__info-title {
    margin-bottom: 20px;
    margin-top: 56px;
    color: #fff;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 51.2px */
}
@media (max-width: 768px) {
    .article__banner {
        padding: 30px;
    }
    .article__banner-title {
        font-size: 46px;
    }
    .article__banner-txt {
        font-size: 20px;
    }
    .article__block-fone {
        width: auto;
        height: 100%;
    }
    .article__block {
        border-radius: 20px;
        overflow: hidden;
    }
}
.review {
}
.review__block {
    width: 644px;
    position: relative;
    display: flex;
}
.col-auto {
}
.col-5 {
}
.rewiew__fone {
    position: absolute;
    z-index: -1;
}
.revieww__current {
}
.col-6 {
}
.review__title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
    opacity: 0.5;
    margin-bottom: 15px;
}

.review__score {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
    gap: 17px;
}
.review__usd {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
    opacity: 0.5;
}

.review__profit-title {
    margin-bottom: 10px;
    color: #ffffff50;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}
.review__profit {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    gap: 17px;
}
.review__profit-usdt {
    margin-top: 20px;
    color: #ffffff50;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
}
.review__conclusion {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    color: #ffffff50;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}
.rewiew__main {
    padding: 20px 25px;
}
.check-password__btn {
    transition: 0.5s;
}

.check-password__btn img {
    transition: 0.5s;
}
.check-password__btn:hover img {
    transform: scale(1.15);
}
.review__top {
    display: flex;
    gap: 20px;
}
.deposit {
    display: flex;
    padding: 20px 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
}
.deposit__top-main {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    display: flex;
    align-items: center;
    gap: 50px;
    display: inline-flex;
    padding: 15px 20px 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 49px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}
.deposit__score {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 55px */
}
.deposit__start {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    opacity: 0.5;
    margin-bottom: 20px;
}
.deposit__date {
    max-width: 292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.deposit__status {
    border-radius: 10px;
    background: #ffd600;
    color: #222;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    padding: 3px 7px;
}
.deposite__line {
    margin-top: 10px;
    margin-bottom: 10px;
}
.deposit__profit {
}
.deposit__profit-title {
    opacity: 0.5;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}
.deposit__profit-main {
    margin-top: 22px;
    display: flex;
    width: 200px;
    align-items: baseline;
    gap: 20px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
}
.deposit__profit-present {
    color: #00ff57;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.deposit__vline {
    top: 0;
    left: 385px;
    position: absolute;
}
.deposit__right {
}
.deposit__right-cards {
    margin-left: 15px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 35px 65px;
}
.deposit__right-card {
}
.deposit__right-card-title {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    opacity: 0.5;
}
.deposit__right-card-profit {
    margin-top: 22px;
    display: flex;
    color: #fff;
    align-items: baseline;
    gap: 5px;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 32px */
}
.deposit__right-card-present {
    color: #00ff57;
    text-align: right;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 5px;
    display: flex;
    align-items: center;
}
.deposit__right-card {
    position: relative;
}
.absolute {
}
.deposit__right-year-profit {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    position: relative;
    z-index: 33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yeelow, #ffd600);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}
.deposit__right-sum {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-left: 20px;
    color: var(--yeelow, #ffd600);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 32px */
}
.deposit__button {
    margin-top: 40px;
    display: inline-flex;
    width: 334px;

    height: 60px;
    padding: 16px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.deposit__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.deposit__btn .check-password__btn-left {
    position: absolute;
    left: -27px !important;
    bottom: -25px !important;
    z-index: -1;
}
.deposit__btn .check-password__btn-right {
    top: -22px;
    right: -25px;
}
.bonus {
    padding: 30px;
    padding-bottom: 60px;
    padding-right: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
    margin-top: 20px;
}
.bonus__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bonus__title {
    color: #fff;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.bonus__mouth-main {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    width: 162px;
    height: 45px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
}
.bonus__line {
    margin-left: -30px;
}
.bonus__graf {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.bonus__graf-left {
    margin-left: -30px;
}
.bonus__graf-info {
    margin-top: 20px;
    margin-left: 55px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    position: relative;
}
.bonus__graf-fone {
    margin-top: -30px;
    position: absolute;
}
.bonus__graf-title {
    color: #ffffff50;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
}
.bonus__graf-sum {
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    margin-top: 20px;
}
.bonus__graf-right {
    margin-top: 70px;
}
.bonus__graf-points {
    flex-direction: column;
    display: flex;
    margin-left: 20px;

    height: 100%;
    gap: 20px;
}
.bonus__graf-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bonus__graf-point-title {
    color: #ffffff50;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
}
.bonus__graf-point-sum {
    color: #fff;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
}
.low__row {
    display: flex;
    gap: 20px;
}
.statistic {
    width: 869px;
    padding: 30px 40px 22px 30px;
    margin-top: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
}
.col-7 {
}
.statistic__top {
    margin-top: -30px;
    display: flex;
    align-items: center;
}
.statistic__name {
    min-width: 280px;
    margin-right: 32px;
    color: #fff;

    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
}
.statistic__line {
}
.statistic__rangs {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;

    width: 100%;
}
.statistic__rang {
    gap: 10px;
    display: flex;
}
.statistic__rang-icon {
}
.statistic__rang-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.statistic__rang-lvl {
    color: #ffffff50;

    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
}
.statistic__rang-suulvl {
    color: #fff;

    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
}
.statistic__vline {
    margin-left: -30px;
    margin-top: -15px;
}
.statistic__table-title {
    margin-top: 10px;
    padding-right: 15px;
    color: #ffffff50;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 107px;
}
.statistic__table {
    position: relative;
}
.statistic__table-title {
}
.statistic__table-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff30;
}
.statistic__table-row:last-child {
    border: none;
}
.statistic__table-left {
    position: relative;
    display: flex;
    min-width: 330px;
    align-items: center;
    gap: 15px;
    color: var(--yeelow, #ffd600);
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}
.statistic__table::before {
    content: "";
    height: 100%;
    background: #ffffff30;
    width: 1px;
    position: absolute;
    top: 0;
    left: 313px;
}
.statistic__table::after {
    content: "";
    height: 100%;
    background: #ffffff30;
    width: 1px;
    position: absolute;
    top: 0;
    right: 210px;
}
.statistic__table-main {
    color: #fff;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    padding-right: 80px;
}
@media (max-width: 1440px) {
    .review__top {
        flex-direction: column;
    }
    .low__row {
        flex-direction: column;
    }
    .bonus {
        width: 100%;
    }
    .bonus__graf {
        justify-content: space-around;
    }
    .review__block {
        width: 100%;
    }
    .rewiew__fone {
        width: 100%;
        height: 100%;
    }
    .statistic {
        width: 100%;
    }
    .statistic__table-title {
        gap: 20%;
    }
    .statistic__table-main {
        padding-left: 20%;
    }
    .deposit {
        width: 100%;
    }
}
.article__banner-txt {
    max-width: 70%;
}
@media (max-width: 910px) {
    .article__banner-txt {
        max-width: 100%;
    }
    .statistic__table-main {
        padding: 0 40px;
        padding-right: 80px;
    }
    .statistic__vline {
        display: none;
    }
    .deposit {
        flex-direction: column;
    }
    .statistic__table-title {
        font-size: 12px;
    }
    .deposit__vline {
        display: none;
    }
    .deposit__right-card img {
        left: 50px;
    }
    .deposit__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .deposit__date {
        gap: 20px;
    }
    .deposit__profit-main {
        margin-bottom: 20px;
    }
    .deposit__right-cards {
        justify-content: center;
    }
    .deposit__right-card:last-child {
        margin-left: -50px;
        padding-right: 60px;
    }
}
@media (max-width: 520px) {
    .bonus__line {
        display: none;
    }
    .bonus__graf {
        flex-direction: column;
    }
    .bonus__graf-points {
        margin-top: 150px;
    }
    .deposit__right-cards {
        grid-template: 1fr / 1fr;
    }

    .statistic {
        max-width: 500px;
    }
    .statistic__line {
        display: none;
    }
    .statistic__table-left {
        font-size: 10px;
    }
    .statistic__table-left img {
        width: 20px;
    }
    .statistic__top {
        flex-direction: column;
    }
    .statistic__rangs {
        gap: 10px;
    }
    .statistic__name {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .statistic__table-title {
        gap: 30px;
    }
    .statistic__table-title {
        font-size: 8px;
    }
    .statistic__table-left {
        min-width: 140px;
    }
    .deposit__right-cards {
        justify-items: center;
        width: 100%;
    }
    .deposit__right-card img {
        left: 0;
    }
    .bonus {
        padding: 15px;
    }
    .bonus__title {
        font-size: 18px;
    }
    .statistic {
    }
    .deposit {
        padding: 10px;
    }
    .deposit__button {
        width: 100%;
    }
    .deposite__line {
        display: none;
    }
    .bonus__graf-fone {
        left: 50%;
        transform: translateX(-50%);
    }
    .deposit__date {
        margin-bottom: 15px;
    }
    .bonus__graf-points {
        margin-top: 70px;
        margin-left: 0;
        padding: 10px 10px;
    }
    .bonus__graf-info {
        margin-top: 100px;
        margin-left: 8%;
    }
    .deposit__right-card:last-child {
        padding-right: 0;
    }
    .deposit__right-card img {
        left: -10px;
    }
    .statistic__rang-lvl {
        font-size: 12px;
    }
    .statistic__rang-suulvl {
        font-size: 12px;
    }
    .statistic__table-main {
        padding-right: 35px;
    }
    .statistic__table::before {
        display: none;
    }
    .statistic__table::after {
        display: none;
    }
    .statistic__table-title {
        gap: 15%;
    }
    .statistic {
        padding: 15px;
    }
    .statistic__name {
        margin-top: 35px;
        text-align: center;
    }
    .rewiew__fone {
        width: auto;
        height: auto;
        left: -80px;
    }
    .review__block {
        overflow: hidden;
        border-radius: 18.028px;
    }
}
@media (max-width: 376px) {
    .statistic__table-title {
        gap: 15px;
    }
}
.popup-office {
    padding: 20px;
}
.popup__title-off {
    display: flex;
    align-items: center;
    text-align: left;
    color: #fff;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    height: 50px;
    margin-bottom: 20px;
}
.popup__content-inps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.popup__content-inp {
    width: 100%;
}
.popup__content-inp-title {
    color: #fff;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 193.333% */
}
.popup__content-inp-main {
    padding: 14px 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
}
.popup__content-inp-main input {
    background: #00000000;
    color: white;
    width: 100%;
}
.popup__content-profit {
    padding: 20px;
    margin-top: 20px;
    background: url(../img/main/prof.png) center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup__content-profit-title {
    color: var(--yeelow, #ffd600);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}
.popup__content-profit-sum {
    color: var(--yeelow, #ffd600);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 40px */
}
.popup__content-finish {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.popup__content-replenish {
    color: #ffffff50;
    transition: 0.5;
    display: inline-flex;
    padding: 20px 81px 19px 60px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #fff;
    opacity: 0.5;
}
.popup__content-create {
    color: black;
    transition: 0.5s;
    display: flex;
    width: 282px;
    height: 60px;
    padding: 16px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(0deg, #ffd600 0%, #ffd600 100%), #ffd600;
}
.popup__content-replenish:hover {
    background: #00000000;
    color: white;
}
.popup__content-create:hover {
    border: 1px solid #ffd600;
    background: #00000000;
    color: white;
}
.popup__content-inp-note {
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 5px;
    color: #f00;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}
@media (max-width: 520px) {
    .popup__content-inps {
        flex-direction: column;
    }
    .popup__content-replenish {
        justify-content: center;
        padding: 20px 81px 19px 80px;
    }
    .popup__content-finish {
        flex-direction: column;
    }
    .popup__content-create {
        width: 100%;
    }
    .popup__title-off {
        margin-bottom: 10px;
    }
}
.deposit__top {
    position: relative;
}
.deposit__top-modal {
    transition: 0.5s;
    z-index: 22;
    border-radius: 10px;

    width: 292px;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */

    background: #00063c;
    backdrop-filter: blur(12px);
    padding: 10px;

    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.deposit__top-modal.active {
    opacity: 1;
    visibility: visible;
}
.deposit__top-modal-item {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff50;
}
.deposit__top-modal-item:last-child {
    border: none;
}
.deposit__top-main svg {
    transition: 0.2s;
}
.deposit__top-main svg.active {
    transform: rotate(180deg);
}
.bonus__mouth {
    position: relative;
}
.bonus__mouth-modal {
    position: absolute;
    transition: 0.5s;
    z-index: 22;
    border-radius: 10px;
    width: 100%;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    opacity: 0;
    visibility: hidden;
    background: #00063c;
    backdrop-filter: blur(12px);
    padding: 10px;
}
.bonus__mouth-main svg {
    transition: 0.2s;
}
.bonus__mouth-main svg.active {
    transform: rotate(180deg);
}
.bonus__mouth-modal.active {
    opacity: 1;
    visibility: visible;
}
.bonus__mouth-item {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff30;
}
.bonus__mouth-item:last-child {
    border: none;
}
