.mt30 {
    margin-top: 30px;
}

.profile {}

.profile__colums {
    display: flex;
    gap: 20px;
}

.profile__colum {}

.profile__colum1 {}

.profile__title {
    color: #fff;

    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 32px */
    margin-bottom: 20px;
}

.profile__colum-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
}

.profile__colum-head {
    padding-top: 40px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile__colum-head::before {
    border-radius: 20px 20px 0 0;
    content: "";
    width: 100%;
    height: 200px;
    top: 0;
    z-index: -1;
    left: 0;
    position: absolute;
    background: url(../img/main/fone__head.png) no-repeat;
}

.profile__colum-title {
    margin-bottom: 15px;
    color: #fff;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 32px */
}

.profile__colum-subtitle {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 16px */
}

.profile__colum-avatar {
    margin-bottom: 15px;
    position: relative;
}

.profile__colum-inps {
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.profile__colum-inp {
    width: 260px;
}

.profile__colum-inp-title {
    color: #fff;
    margin-bottom: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
}

.profile__colum-inp-main {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px 14px 15px;
    align-items: center;
}

.profile__colum-inp-main input {
    background: #00000000;
}

.profile__status {
    margin-top: 20px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.profile__status-title {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
    margin-bottom: 10px;
}

.profile__status-btns {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.profile__status-btn {
    color: white;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__status-btn.active {
    color: #f00;
    text-decoration-line: none;
    font-size: 16px;
    width: 259px;
    height: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(12px);
}

.profile__save {
    margin: 40px 0;
}

.profile__save button {
    height: 60px;
    padding: 16px 25px;
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
    border-radius: 100px;
    opacity: 0.5;
    background: linear-gradient(0deg, #ffd600 0%, #ffd600 100%), #ffd600;
}

.profile__colum2 {
    width: 100%;
}

.profile__colum-main {}

.profile__protect {}

.profile__protect-main {}

.profile__protect-head {
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 62px;
    justify-content: center;
    align-items: center;
}

.profile__protect-prof {
    padding-left: 60px;
}

.profile__protect-point.active {
    position: relative;
    color: #fff;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 20px */
}

.profile__protect-point.active::before {
    position: absolute;

    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 54px;
    border-radius: 204px;
    background: #3675ff;
    filter: blur(32px);
    content: "";
}

.profile__protect-point {
    color: #ffffff50;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 20px */
}

.profile__protect-line {}

.profile__protect-pass {}

.profile__protect-ver {}

.profile__protect {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(10, 49, 140, 0.1) 100%);
    backdrop-filter: blur(70px);
}

.profile__protect-vline {
    margin-top: -11px;
}

.profile__protect-content {
    padding: 30px;
    padding-top: 20px;
}

@media (max-width:1900px) {
    .profile__colums {
        flex-direction: column;
    }

    .profile__protect-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.profile__protect-inps {
    display: flex;
    gap: 21px;
}

.profile__protect-inp {}

.profile__protect-name {
    margin-bottom: 10px;
    color: #fff;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
}

.profile__protect-inp-main {
    display: flex;
    padding: 16px 26px 14px 15px;
    align-items: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}

.profile__protect-inp-main input {
    background: #00000000;
}

.profile__protect-social {}

.profile__protect-social-title {
    margin-top: 50px;
    color: #fff;
    margin-bottom: 30px;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 24px */
}

.profile__protect-socials {
    display: grid;
    grid-template: repeat(2, 83px) / repeat(3, 270px);
    gap: 20px;
}

.profile__protect-social-item {}

.profile__protect-social-name {
    margin-bottom: 10px;
    color: #fff;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
}

.profile__protect-social-main {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);

    align-items: center;
    display: flex;
    padding: 11px 140px 11px 10px;
    align-items: center;
    gap: 10px;
}

.profile__protect-social-main span {
    color: #ffffff50;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
}

.profile__protect-social-icon {}

input {
    color: white;
    background: #00000000;
}

.profile__save {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__protect-content-pr {
    display: none;
}

.profile__safety {
    padding: 30px;
}

.profile__safety-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.profile__safety-inps {
    width: 100%;
}

.profile__safety-name {
    color: #fff;

    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 15px */
    margin-bottom: 10px;
}

.profile__safety-inp {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.profile__safety-inp input {
    margin-top: 7px;
}

.profile__safety-inp-rigth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile__safety-checkbox input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.profile__safety-checkbox label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 22px;
    border-radius: 999px;
    border: 1px solid var(--gray-5, #e0e0e050);
    background: rgba(255, 255, 255, 0.2);
    display: block;
    border-radius: 100px;
    position: relative;
}

.profile__safety-checkbox label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #ffffff20;
    border-radius: 90px;
    transition: 0.3s;
}

.profile__safety-checkbox input:checked+label {
    background: #ffd600;
}

.profile__safety-checkbox input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background-color: #222222;
}

.profile__safety-checkbox label:active:after {
    width: 20px;
}

.profile__safety-approval {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 20px */
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile__safety-checkbox {
    display: flex;
    align-items: center;
}

.profile__safety-authentication {
    margin-top: 50px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 24px */
}

.profile__safety-note {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile__safety-note span {
    color: var(--yeelow, #ffd600);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 28px */
}

.profile__protect-hide {
    display: none;
}

.profile__safety {
    min-height: 650px;
}

.profile__safety-fone {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    z-index: -1;
}

.form_radio {
    margin-bottom: 10px;
}

.form_radio input[type="radio"] {
    display: none;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    color: #fff;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}



/* Hover */
.form_radio label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.form_radio input[type="radio"]:disabled+label:before {
    filter: grayscale(100%);
}

.profile__safety-radio {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.form_radio {
    display: flex;
    align-items: center;
}

.profile__safety-qr {
    margin-top: 45px;
    display: flex;

    gap: 30px;
}

.profile__safety-left img {
    width: 250px;
}

.profile__safety-right span {
    color: #fff;

    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
}

.profile__safety-ipn2 {
    padding: 18px 20px;
    height: 56px;
    margin-bottom: 20px;
}

.profile__safety-ipn2 input {
    margin-top: 0;
}

.profile__safety-inp-rigth {}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 10px;
}

.profile__safety-check label {
    color: #fff;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 21px */
}

.custom-checkbox+label::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffd600;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
}

.custom-checkbox:checked+label::before {
    background-image: url(../img/main/chek.svg);
}

.profile__safety-checks {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.profile__file {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 226px;
}

.input-file {}

.profile__file {}

.profile__documents-title {
    margin-bottom: 22px;
    color: #fff;
    text-align: center;
    max-width: 330px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 25.6px */
}

.input-file-text {}

.profile__documents-note {
    margin-top: 22px;
    color: #ffffff50;
    text-align: center;
    max-width: 280px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
}

.profile__documents-cards {
    padding: 30px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 406px);
    justify-content: center;
    gap: 22px;
}

.profile__documents-card {
    min-height: 226px;
}

.profile__documents-main {
    display: flex;
    align-items: center;
}

.input-file span {
    padding: 0px 7px;
}

.profile__documents-form {
    min-height: 226px;
}

@media (max-width: 1440px) {
    .profile__protect-head {
        justify-content: center;
    }

    .profile__colum-head::before {
        display: none;
    }

    .profile__colums {
        flex-direction: column;
    }

    .profile__status {
        width: auto;
        justify-content: center;
    }
}

@media (max-width: 940px) {
    .profile__protect-vline {
        display: none;
    }

    .profile__protect-inps {
        flex-wrap: wrap;
    }

    .profile__protect-socials {
        grid-template: repeat(3, 83px) / repeat(2, 270px);
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .profile__protect-pass {
        text-align: center;
    }

    .profile__protect-socials {
        grid-template: repeat(3, 83px) / repeat(1, 270px);
        justify-content: center;
    }

    .profile__protect-point {
        font-size: 16px !important;
    }

    .profile__protect-head {
        gap: 15px;
    }

    .profile__safety-qr {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .profile__safety-top {
        flex-direction: column;
    }

    .profile__colum-inps {
        flex-direction: column;
    }

    .profile__protect-prof {
        padding-left: 30px;
    }

    .profile__protect-ver {
        padding-right: 30px;
    }

    .profile__safety-note span {
        font-size: 16px;
    }

    .profile__safety-checks {
        flex-direction: column;
        gap: 20px;
    }

    .profile__colum1 {
        width: 100%;
    }

    .profile__status-btns {
        flex-direction: column;
    }

    .profile__safety-inps {
        max-width: 100%;
    }

    .profile__safety-note {
        flex-direction: column;
        justify-content: center;
    }

    .profile__safety-note span {
        text-align: center;
    }

    .profile__colum-inp {
        width: 100%;
    }

    .profile__documents-cards {
        padding: 30px;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(1, 100%);
        justify-content: center;
        gap: 22px;
    }
}

@media (max-width: 500px) {
    .profile__colum-head::before {
        display: block;
    }

    .profile__protect-ver {
        padding-right: 15px;
    }

    .profile__protect-prof {
        padding-left: 22px;
    }

    .profile__protect-prof {
        margin-left: 0px;
    }

    .profile__safety {
        padding: 15px;
    }

    .profile__protect-head {
        gap: 10px;
    }

    .profile__protect-point–• .profile__colum-head::before {
        display: block;
    }

    .profile__protect-point {
        font-size: 14px !important;
    }

    .profile__protect-inp {
        width: 100%;
    }
}

.profile__protect-point {
    cursor: pointer;
}

.popup__photo {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(75px);
    height: 410px;
    padding: 20px;
}

.popup__top {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.popup__title-new {
    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 16px */
}

.popup__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.popup__close {
    right: 20px;
}

.popup__file {
    height: 310px;
    width: 310px;
}

.popup__main-progess {
    border-radius: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__main-progess div {
    color: #ffffff50;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
}

.popup__main-progess img {
    margin-left: -20px;
}

.none {
    display: none;
}

.popup__main-successfully-img {
    position: absolute;
    z-index: 33;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
}

.popup__main-successfully {
    border-radius: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup__main-successfully img {
    border-radius: 20px;
}

.popup__text {
    color: #ffffff !important;
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.popup__photo-final {
    height: 574px;
}

.no-border {
    border: none;
}

.popup__save button {
    margin-top: 30px;
    display: flex;
    width: 310px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: linear-gradient(0deg, #ffd600 0%, #ffd600 100%), #ffd600;
    color: #222;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
}

.popup__photo {
    width: 350px;
    margin: 0 auto;
}

.popup.active {
    width: 350px;
}

.profile__safety-inp {
    height: 58px;
}

.profile__safety-top {
    margin-top: 15px;
}

.deposit__right-year-profit {
    z-index: 0;
}

.profile__safety-colums {
    gap: 30px;
    display: flex;
}

.profile__safety-colum {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    gap: 15px;
}

.profile__safety-colum-title {
    color: white;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 15px;
}

.profile__safety-inp input {
    margin-top: 0;
}

@media (max-width: 768px) {
    .profile__safety-colums {
        flex-direction: column;
    }
}

.profile__colum-avatar-rank {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-55%);
}

.profile__colum-avatar-edit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    fill: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
}

.profile__save {
    z-index: 22;
}

.profile__save button {
    transition: .4s;
    border: 1px solid #00000000;
    opacity: 1;
    position: relative;

}

.profile__save button:hover {
    border: 1px solid #FFD600;
    background: #00000000;
    color: white;
}

.profile__save button:disabled {

    opacity: 0.5;
}

.profile__safety-save button {
    transition: .4s;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
    padding: 15px 40px;
    border-radius: 100px;
    border: 1px solid #00000000;
    background: linear-gradient(0deg, var(--Gradient, #FFD600) 0%, var(--Gradient, #FFD600) 100%), var(--Gradient, #FFD600);
}

.profile__safety-save button:hover {
    border: 1px solid #FFD600;
    background: #00000000;
    color: white;
}