
.countdown-page {
    display: flex;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    padding: 30px 0;
    background-image: url(images/countdown-p-bg+.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.countdown-title {
    /* 64px / 32px */
    font-size: 2rem;
    font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
    font-weight: 700;
    line-height: 116%;
    color: var(--color-secondary);
    text-shadow: 0 0 10px var(--color-secondary);
}


/* Countdown Timer */
.countdown {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    transform: scale(0.85);
    transform-origin: top left;
}
.countdown-container {
    position: relative;
    margin: 10px;
}
.countdown-container:after {
    content: "";
    top: 5px;
    left: 5px;
    position: absolute;
    z-index: -1;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.countdown .label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.countdown .label span:first-of-type {
      font-size: 55px;
      color: white;
}
.countdown .label span:nth-of-type(2) {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}