:root {
  --color-base: #00063c;
  --color-primary: #fff;
  --color-secondary: #ffd600;
  --color-accent: #00ff57;
  --color-dark-gray: #222222;
  --color-white: #fff;

  --transition-base: all 0.35s;
}

/* html {
  height: 100%;
} */
body {
  /* height: 100%; */
  display: flex;
  flex-direction: column;

  font-family: "Gilroy", sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

  font-weight: 500;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-primary);
  background-color: var(--color-base);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.35s;
}

a:hover {
  color: var(--color-base);
}

article a {
  text-decoration: underline;
  color: var(--color-accent);
  transition: all 0.35s;
}

.bg-base {
  background-color: var(--color-base);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-dark-gray {
  background-color: var(--color-dark-gray);
}

.bg-white {
  background-color: var(--color-white);
}

.color-base {
  color: var(--color-base);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-gray {
  color: var(--color-gray);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-white {
  color: var(--color-white);
}

.spacer-sm {
  height: 25px;
}

.spacer-md {
  height: 50px;
}

.spacer {
  height: 100px;
}

.spacer-50 {
  height: 50px;
}

.spacer-100 {
  height: 100px;
}

.spacer-150 {
  height: 150px;
}

.home-header {

  padding: 24px 28px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hero-content {
  margin-top: 130px;
  padding-bottom: 150px;
}

.hero-title {
  font-size: 2rem;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
  line-height: 150%;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  line-height: 150%;
  font-weight: 500;
}

.hero-facts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.hero-facts__val {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-bg-img:after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100%;
  right: 0;
  top: -150px;
  background-image: url(images/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle-blur-hero {
  position: relative;
}

.circle-blur-hero:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  height: 1800px;
  left: 0%;
  top: -25%;

  background-image: url(images/gradient-blue-sm-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle-blur-l {
  position: relative;
}

.circle-blur-l:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  height: 1800px;
  left: 0%;
  top: 200px;
  background-image: url(images/gradient-blue-circle-l-sm-15.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.circle-blur-r {
  position: relative;
}

.circle-blur-r:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  height: 1800px;
  right: 0%;
  top: 0px;
  background-image: url(images/gradient-blue-circle-r-sm-15.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.translucent {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.translucent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.translucent:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.radius-20 {
  border-radius: 20px;
}

.section-subtitle {
  margin-bottom: 0;
  font-size: 2rem;
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
  font-weight: 600;
  color: var(--color-secondary);
}

.section-title {
  font-size: 3.125rem;
  font-size: clamp(3.125rem, 2.4rem + 3.6249999999999996vw, 6.75rem);
  font-weight: 600;
}

.card-ideology {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(7, 53, 159, 0.1) 100%),
    url(images/crypto-card-img-1.png);
  background-repeat: no-repeat;
  background-position: top right;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.card-ideology-type1 {
  background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(7, 53, 159, 0.1) 100%),
    url(images/crypto-card-img-1.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.card-ideology-type2 {
  background: linear-gradient(180deg, rgba(1, 13, 40, 0.61) 0%, rgba(7, 53, 159, 0.1) 100%),
    url(images/crypto-card-img-2.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.card-ideology .card-ideology__subtitle {
  display: inline-block;
  width: fit-content;
  padding: 20px 30px;
  border: 1px solid rgba(255, 213, 0, 0.5);
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.05rem + 1.625vw, 3rem);
  color: var(--color-secondary);
}

.card-ideology .card-ideology__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.375rem;
  font-size: clamp(1.375rem, 1.05rem + 1.625vw, 3rem);
}

.card-ideology .card-ideology__desc {
  display: flex;
  align-items: center;
  min-height: 160px;
}

.card-ideology .card-ideology__divider {
  width: 100%;
  height: 1px;
  margin-top: auto;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.mobile-app-screen {
  height: 100%;
  width: 100%;
  background-image: url(images/Model-Space-Black.png);
  background-size: 100%;
  background-position: 20% 15%;
  background-repeat: no-repeat;
}

.gradient-line {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.box-with-gradient-line {
  position: relative;
}

.box-with-gradient-line:before,
.box-with-gradient-line:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.box-with-gradient-line:before {
  top: 0;
  left: 0;
}

.box-with-gradient-line:after {
  bottom: 0;
  left: 0;
}

.img-out-flow-l {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.img-out-flow-r {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.img-out-flow-l img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.img-out-flow-r img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.img-out__45 {
  width: 45%;
}

.img-out__50 {
  width: 50%;
}

.img-scale-up {
  transform: scale(1.2);
}

.img-scale-direction-r-t {
  transform-origin: right top;
}

.why {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.why-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  height: 100%;
}

.why-item {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(7, 53, 159, 0.1) 100%);
  border-radius: 50px;
}

.why-item-bg {
  background-image: url(images/why-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.why-item .why-item__header {
  display: flex;
  align-items: center;
}

.why-item .why-item__title {
  margin-left: 10px;
  margin-bottom: 0;

  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.9375rem + 0.9375vw, 2.0625rem);
  color: var(--color-secondary);
}

.ico-safe-app {
  box-shadow: 0 10px 90px #2156cc;
  border-radius: 27px;
}

.calculator-bg {
  background-image: url(images/calculator-bg-sm.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}

.calculator {
  border-radius: 20px;
}

.calculator .calculator__period {
  position: relative;
}

.calculator .calculator__period:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%);
}

.calculator__total {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px 40px;
  border: 1px solid var(--color-secondary);
  border-radius: 40px;
  color: var(--color-secondary);
  text-align: center;

  background: linear-gradient(to right, rgba(255, 220, 0, 0.07), rgba(255, 220, 1, 0.3), rgba(255, 220, 0, 0.07));
  backdrop-filter: blur(92px);
  -webkit-backdrop-filter: blur(92px);
}

.calculator__total .calculator__total-val {
  /* 72px / 24px */
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 0.9rem + 3vw, 4.5rem);
  font-weight: 900;
  line-height: 100%;
}

.faq {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(7, 53, 159, 0.61) 0%, rgba(7, 53, 159, 0.1) 100%);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-tabs .nav-link {
  flex-grow: 1;
  padding: 20px;
  color: #ffffff50;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.nav-tabs .nav-link.active {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-button {
  padding: 20px;
  padding-left: 60px;
  color: var(--color-primary);
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
  font-weight: 700;
}

.accordion-button::after {
  position: absolute;
  left: 15px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-image: url(images/ico-accordion-plus.svg);
}

.accordion-button:not(.collapsed) {
  color: var(--color-primary);
  background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(images/ico-accordion-plus.svg);
  transform: rotate(135deg);
}

.accordion-item {
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.accordion-item:last-child {
  border: none;
}

.accordion-body {
  padding-left: 60px;
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8625rem + 0.0625vw, 0.9375rem);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.footer {
  padding: 50px 0px;
  background-color: #052276;
  border-radius: 50px 50px 0px 0px;

  background-image: url(images/footer-decor-top.jpg), url(images/footer-decor-bottom.jpg);
  background-repeat: no-repeat;
  background-position: top center, bottom center;
}

.footer-content {
  width: 100%;
  height: 100%;
  background-image: url(images/footer-img-1.jpg), url(images/footer-img-2.jpg);
  background-position: -20% 50%, 120% 50%;
  background-repeat: no-repeat;
}

.main-navbar__link {
  max-height: 33px !important;
}

body {
  /* плашка-бегунок и фон */
  scrollbar-color: #999 #333;
}

body::-webkit-scrollbar {
  width: 10px;
  /* в основном для вертикальных полос прокрутки */
  height: 10px;
  /* в основном для горизонтальных полос прокрутки */
}

body::-webkit-scrollbar-thumb {
  /* плашка-бегунок */
  background: #00000000;
  border: 1px solid #ae9408;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  /* фон */
  background: #00000000;
}

.why-item {
  transition: 0.3s;
}

.why-item:hover {
  transform: scale(1.05);
}

.hero-facts {
  transition: 0.3s;
}

.hero-facts:hover {
  transform: scale(1.05);
}

.m-2 {
  transition: 0.3s;
}

.m-2:hover {
  transform: scale(1.15);
}

header {
  position: relative;
  z-index: 22;
}

.main-navbar__lang {
  width: 260px;
  margin: 0 auto;

  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  height: 59px;
  padding: 0 20px;
  border: 1px solid #959bb7;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navbar__lang span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 9px;
}

.main-navbar__lang span svg {
  position: static;
  border-radius: 50%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.main-navbar__lang svg {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-navbar__lang {
  position: relative;
  z-index: 3;
}

.main-navbar__lang.active {
  z-index: 3333;
}

.main-navbar__lang-pop {
  transition: 0.5s;
  border-radius: 3px 3px 10px 10px;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(121px);

  opacity: 0;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  background: #00063b;
  position: absolute;
  top: 59px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-navbar__lang-item {
  display: flex;
  gap: 9px;
  align-items: center;
}

.main-navbar__lang-pop.active {
  opacity: 1;
  overflow: visible;
}

.main-navbar__lang {}



.menu-coming {
  position: relative;
  top: 5px;
}

.team__swiper-fone {
  top: 40px !important;

}

@media (max-width: 767px) {


  .main-navbar__lang {
    width: 100%;
  }

  .team__swiper-fone {
    top: 0px !important;

  }

}